.search_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.search_city {
    padding-top: 112px;
}

.search_city label {
    display: block;
    font-size: 64px;
    text-align: center;
    width: 100%;
}

.search_city input {
    display: block;
    width: 80%;
    height: 64px;
    margin: 16px auto;
    font-size: 32px;
}

.search_map {
    position: relative;
    height: 500px;
}

.search_map .selected {
    height:  100px;
}

.search_map .selected h2 {
    margin-top: 0;
}

.search_map .map_container {
    position: static;
    width: 100%;
    height: 400px !important;
}

.submit_button {
    width: 300px;
    height: 64px;
    font-size: 32px;
    display: block;
    margin: 16px auto;
    grid-column: 1 / 3;
}